html, body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(96, 183, 255);
    text-align: center;
}

.SearchBar {
    display: inline;
    flex-direction: column;
    align-items: center;
    color: blue;
}


